# 依存関係
node_modules/
/.pnp
.pnp.js

# ビルド
/build
/dist

# 環境変数
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ログ
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# データベース
*.sqlite
*.sqlite3

# その他
.DS_Store
.idea/
.vscode/
*.log

client/.env